body{
	font-family: 'poppins', sans-serif;
	margin: 0;
	line-height: 1.6;
    width: 135%;
}
.header{
    align-items: center;
	justify-content: space-between;
	padding: 1.5rem 7%;
	border-bottom: var(--border);
	position: fixed;
	top: 0;left: 0;right: 0;
	z-index: 1000;
    color: #fff;

}
nav{
    height: 60px;
	width: 100%;
	position: fixed;
}
nav ul{
	margin: 0;
	padding: 0;
}
nav li{
	display: inline;
	float: left;
    text-align: right;

}
nav a{
	display: inline-block;
	width: 100px;
	text-align: center;
	text-decoration: none;
    font-size: 20px;
	padding: 10px 0;
	color:#eee;

}

.a{
    text-decoration: none;
    color: #fff;
}
#showcase{
	margin: 0;
	padding: 0;
	background:url('../MyFirstProject/assets/images/banner-img.png') center/cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 170vh;
	position: relative;
	overflow-y: hidden;
}
.head .box-img-txt::before{
    content: "";
  clear: both;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  
}
.head .main{
    float: left;
  width: 50%;
  padding: 3rem 17% 2rem 12%;
  height: 120vh;
  color: #fff;
}
.btn {
    background-color: rgb(246, 248, 250);
    border: none;
    color: rgb(5, 5, 5);
    padding: 12px 30px;
    cursor: pointer;
    font-size: 30px;
}
b{
    font-size: 25px;
}
.head .side-image{
    float: right;
    width: 50%;
    background-image: url('../MyFirstProject/assets/images/iPhoneX-Light.png'),url('../MyFirstProject/assets/images/iPhoneX-Light@2x.png'), url('../MyFirstProject/assets/images/iPhoneX-Light-1.png');
  background-position: center bottom,left top,right top;
  background-repeat: no-repeat,no-repeat,no-repeat;
  padding: 3rem 12% 2rem 17%;
  height: 120vh;
  

}
.main{
    margin-top: 20vh;
}
.section-container{
    text-align:center;
    
}
.container .row::before{
    content: "";
  clear: both;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.container .column1{
    margin-left: 0;
    float: left;
  width: 50%;
  padding: 3rem 17% 2rem 12%;
  height: 100vh;
  background: url('../MyFirstProject/assets/images/style.png');
  background-position: left;
}
.container .column2{
    float: right;
  width: 50%;
  padding: 3rem 12% 2rem 17%;
  height: 100vh;
}
.container .column1 img{
    margin: 0;
    padding: 0;
    left: 0%;
    position: relative;
    overflow: hidden;
    display: inline-block;
}
footer .list{
    display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(4,1fr);
	padding: 2rem;
	text-align: left;
	font-size: 14px;
}
footer .list ul{
    list-style: none;
}
footer .footer-bottom{
	background-color: #fff;
	padding: 1rem;
	text-align: left;
}
